<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <p>Hello #{username}, your booking  on #{date} is confirmed.</p>
    <p>Ride details:</p>
    <ul>
      <li>From: #{fromPlace}</li>
      <li>To: #{toPlace}</li>
    </ul>
  </body>
</html>
