
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Ride Reminder
  body
    h1 Ride Reminder: 15 Minutes Left!
    p Hello, #{passengerName},
    p Your ride from #{fromPlace} to #{toPlace} is starting in 15 minutes.
    p Please be ready to board.
    p Thank you for using our service!
    p Best regards,
    p Car Pooling Team
